In [11]:
import datetime
import pandas as pd
import pandas.io.data
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('figure', figsize=(8,7))

In [10]:
labels = ['a', 'b', 'c', 'd', 'e']
s = Series([1, 2, 3, 4, 5], index=labels)
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
'b' in s

True

In [12]:
s['b']

2

In [13]:
mapping = s.to_dict()
mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [14]:
Series(mapping)

a    1
b    2
c    3
d    4
e    5
dtype: int64

##Get data from Yahoo Finance

In [12]:
aapl = pd.io.data.get_data_yahoo('AAPL', 
                                start = datetime.datetime(2006, 10, 1), 
                                end = datetime.datetime(2015, 6, 8))
aapl.head()

                Open      High       Low     Close     Volume  Adj Close
Date
2006-10-02  75.09999  75.86999  74.30003  74.86003  178159800   10.04550
2006-10-03  74.44997  74.94998  73.18997  74.08002  197677200    9.94083
2006-10-04  74.09997  75.46000  73.16001  75.37999  207270700   10.11527
2006-10-05  74.52998  76.16000  74.13000  74.83000  170970800   10.04147
2006-10-06  74.42001  75.04000  73.81003  74.22002  116739700    9.95962

now the data is in aapl dump it into a csv file

In [17]:
pwd

'/Users/nealaggarwal/iPython-Notebooks'

In [18]:
aapl.to_csv('aapl_ohlc.csv')
!head aapl_ohlc.csv

Date,Open,High,Low,Close,Volume,Adj Close
2006-10-02,75.09999,75.86999,74.30003,74.86003000000001,178159800,10.0455
2006-10-03,74.44997,74.94998000000001,73.18997,74.08001999999999,197677200,9.94083
2006-10-04,74.09997,75.46,73.16001,75.37999,207270700,10.115269999999999
2006-10-05,74.52998000000001,76.16,74.13,74.83,170970800,10.04147
2006-10-06,74.42000999999999,75.04,73.81003,74.22001999999999,116739700,9.95962
2006-10-09,73.80001999999999,75.07996999999999,73.53003000000001,74.63001,109555600,10.01463
2006-10-10,74.53999,74.58003000000001,73.08,73.81003,132897100,9.9046
2006-10-11,73.41999,73.97999,72.60001,73.23001,142963800,9.82677
2006-10-12,73.60996999999999,75.39,73.60003,75.26001,148213800,10.099169999999999

In [21]:
df = pd.read_csv('aapl_ohlc.csv', index_col='Date', parse_dates=True)
df.head()

                Open      High       Low     Close     Volume  Adj Close
Date
2006-10-02  75.09999  75.86999  74.30003  74.86003  178159800   10.04550
2006-10-03  74.44997  74.94998  73.18997  74.08002  197677200    9.94083
2006-10-04  74.09997  75.46000  73.16001  75.37999  207270700   10.11527
2006-10-05  74.52998  76.16000  74.13000  74.83000  170970800   10.04147
2006-10-06  74.42001  75.04000  73.81003  74.22002  116739700    9.95962

In [22]:
df.index

<class 'pandas.tseries.index.DatetimeIndex'>
[2006-10-02, ..., 2015-06-05]
Length: 2184, Freq: None, Timezone: None

## Series and DataFrame testing

In [24]:
ts = df['Close'][-10:]
ts

Date
2015-05-22    132.53999
2015-05-26    129.62000
2015-05-27    132.03999
2015-05-28    131.78000
2015-05-29    130.28000
2015-06-01    130.53999
2015-06-02    129.96001
2015-06-03    130.12000
2015-06-04    129.36000
2015-06-05    128.64999
Name: Close, dtype: float64

In [25]:
type(ts)

pandas.core.series.Series

In [27]:
date = ts.index[5]
date

Timestamp('2015-06-01 00:00:00')

In [28]:
ts[date]

130.53998999999999

In [29]:
ts[5]

130.53998999999999

In [30]:
df[['Open', 'Close']].head()

                Open     Close
Date
2006-10-02  75.09999  74.86003
2006-10-03  74.44997  74.08002
2006-10-04  74.09997  75.37999
2006-10-05  74.52998  74.83000
2006-10-06  74.42001  74.22002